/* gallery */
.gallery__container{
    display:flex;
    flex-direction:row;
    height:400px;
    gap:1rem;
    width:95%;  
    margin-top:6rem;   
}
.image__gallery{
    height:400px;
    display:grid;      
    margin-left:10%;
    margin-right:10%;
    column-gap:10px;
    width:50%;
}
.image{
    border:1px solid black;
    border-radius:10px;
    box-shadow:5px 5px 20px rgba(0,0,0,0.2);
    width:250px;
}
.image img{
    height:100%;
    width:100%;
}
.gallery__col1{
    place-self:center;
    height:300px;        
}
.gallery__col2{    
    height:220px;    
}
.gallery__col3{   
    height:180px; 
    grid-column:2/3;   
    transform:translateY(-70px);    
}
.gallery__content{
    margin:1rem;
    width:40%;
}