
/* Showcase */
.showcase{
    height:600px;
    margin:3rem; 
    overflow:hidden; 
    z-index:1000;   
}   

.showcase .container{
    /* grid-template-columns:40% 60%;
    margin:50px 0 0 0;
    grid-gap:30px;  */
    margin-top:3rem;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:100%;  
    padding:0 4rem;      
}

.inner-container1{
    /* width:40%; */   
    margin-left:max(5rem,150px);   
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;    
}

.div1{
    height:430px;
    width:280px;
    background-color: aquamarine;
    border-radius: 14px;
    outline:7px solid white; 
    position:relative;
    right:100px;    
}
.showcase img{
    height:100%;
    width:100%;
    border-radius:14px;
}
.div2{
    height:350px;
    width:230px;
    background-color:lightpink;
    border-radius:14px;
    outline:7px solid white;
    position:absolute;
    top: 120px;
    left:150px;   
}



.inner-container2{  
    margin-right:max(3rem,150px);    
    height:100%;
    font-family: 'Poppins';
    /* width:60%; */
    transform:translateY(100px);
    align-items:center;
    justify-content:center;
}
.inner-container2 h4{
    font-size:17px;
    color:var(--primary-color);
    font-family:sans-serif;
}
.inner-container2 h1{    
    font-size:35px;
    font-weight:bolder;
    color:#002240;
}
.inner-container2 .description{
    font-family:'Times New Roman';
    color:grey;
    width:250px;    
}
.inner-container2 .plan{
width:85px;
}
.inner-container2 .story{
    display:flex;
    flex-direction:columns;
    align-items:center;
    column-gap:20px;
}
.inner-container2 .story .profile{
    height:50px;
    width:50px;
    border:1px solid red;
    border-radius:50%;
}